<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试效果展示</title>

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

</head>
<body>
<div style="height:50px"></div>
<div class="row">
    <div class="col-md-2" style="margin: 0px 20px">
        <ul class="nav nav-pills nav-stacked" id="leftNav">
            <li role="presentation" class="active"><a style="cursor:default">tag2</a></li>
            <li role="presentation"><a style="cursor:default">tag3</a></li>
            <li role="presentation"><a style="cursor:default">tag4</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs" id="topNav" style="margin: 0px 50px">
            <li id="1" class="chart" style="margin-left: 5%"><a style="cursor:default">top1</a></li>
            <li id="3" class="chart"><a style="cursor:default">top3</a></li>
            <li id="5" class="chart"><a style="cursor:default">top5</a></li>
            <li id="10" class="chart"><a style="cursor:default">top10</a></li>
            <li id="20" class="chart"><a style="cursor:default">top20</a></li>
            <li id="50" class="chart"><a style="cursor:default">top50</a></li>
        </ul>

        <div id="container1" style="width: 100%; height: 550px; margin: 0 auto"></div>
        <div id="container2" style="width: 100%; height: 550px; margin: 0 auto"></div>
        <div id="container3" style="width: 100%; height: 550px; margin: 0 auto"></div>
    </div>
</div>

<script language="JavaScript">
$(document).ready(function(){
    $("#leftNav li").click(function(){
        if($(this).hasClass('active')){
            return;
        }
        else{
            $("#leftNav .active").removeClass("active");
            $(this).addClass("active");
        }
    });

    $(".chart").click(function(){
        if($(this).hasClass('active')){
            return;
        }
        else{
            $("#topNav .active").removeClass("active");
            $(this).addClass("active");
            $('#container1').html('');
            $('#container2').html('');
            $('#container3').html('');

            var tag = $("#leftNav li").index($("li.active"));

            var limit = $(this).attr('id');

            $.getJSON("{% url 'recommend:statutePRF' %}", {
                        limit: limit,
			            tag: tag
                    },function(ret){
                    chart1 = setMeanPRFChart(ret.tName, ret.sortPrecisionList, ret.noSortPrecisionList, '法条效果展示-precision');
                    chart2 = setMeanPRFChart(ret.tName, ret.sortRecallList, ret.noSortRecallList, '法条效果展示-recall');
                    chart3 = setMeanPRFChart(ret.tName, ret.sortF1List, ret.noSortF1List, '法条效果展示-f1');
                    $('#container1').highcharts(chart1);
                    $('#container2').highcharts(chart2);
                    $('#container3').highcharts(chart3);
                });
        }
    });
});


function setMeanPRFChart(x, sortData, data, title)
{
    var chart = {
        title : {
            text: title,
        },
        xAxis : {
            title: {
                text: '策略'
            },
            categories: x,
            crosshair: true,
        },
        yAxis : {
            title: {
                text: 'rate'
            }
        },
        tooltip : {
            enabled: true,
            formatter: function() {
            return '<b>'+ this.y;
            }
        },
        legend : {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series : [{
                    name: '上限',
                    data: sortData,
                   },
                  {
                    name: '测试值',
                    data: data,
                   }
                   ],
    }
    return chart
}
</script>

</body>
</html>